.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link::after {
  content: '\2192';
  width: 20px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}
