.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.khan__buy-link::after {
  content: '\2192';
  width: 20px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}
